{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="pager">

    {{ if .Paginator.HasPrev }}
    <li><a href="{{ .Paginator.Prev.URL }}">{{ T "prevPage" }}</a></li>
    {{ else }}
    <li class="disabled"><a href="#">{{ T "prevPage" }}</a></li>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <li><a href="{{ .Paginator.Next.URL }}">{{ T "nextPage" }}</a></li>
    {{ else }}
    <li class="disabled"><a href="#">{{ T "nextPage" }}</a></li>
    {{ end }}

  </ul>
</nav>
{{ end }}

