
<aside class="l-sidebar">
    <section class="widget">
        {{ partial "search_form" . }}
    </section>
    <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">LATESTS</div>
    </div>
    <div class="list-group">
      {{ range first 5 .Site.RegularPages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{T $key | singularize | upper }}</div>
    </div>
    <div class="list-group">
      {{ range first 100 $value.ByCount }}
      {{if eq $key "tags" }}
      <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}" class="taglink">{{ .Name }}</a>
      {{ else }}
      <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}" class="list-group-item">{{ .Name }}</a>
      {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}

  {{ with .Site.Menus.sidebar }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">LINKS</div>
    </div>
    <ol class="list-group">
      {{ range . }}
      <a href="{{ .URL | absURL }}" class="list-group-item">{{ .Name }}</a>
      {{ end }}
    </ol>
  </section>
  {{ end }}

</aside>

